#root {
  $color-dark-teal: #003643;
  $color-teal: #43cfb5;
  $color-purple: #6f35a3;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;


  #infotext {
    font-weight: 400;
    text-align: left;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    margin: 10px auto;
  }

  .info {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: $color-purple;
    //margin-top: 1rem;

    &.visible {
      opacity: 1;
    }
  }

  .email {
    text-align: left;
    border: 3px solid rgba($color-purple, 0.75);
    padding: 20px;
    border-radius: 5px;
    width: 60vw;
    align-self: center;
    user-select: all;
  }

  .fakeButton {
    background-color: var(--color-teal);
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 18px 45px;
    transition: transform 0.5s ease-in-out;
    font-family: "Cera Pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    color: var(--color-dark-teal);
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:visited {
      color: var(--color-dark-teal);
    }
  }


  .inputs {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .input-group {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 10px;
      width: 100%;


      label {
        align-self: flex-start;
        text-align: left;
        font-family: 'Nunito Sans', sans-serif;
        color: var(--color-purple);

        #candidateWarning {
          display: block;
        }
      }

      input {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1.5px solid rgba(0, 54, 67, 0.5);
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 149, 143, 0.25);
          border-radius: 0;
          outline: 0;
        }
      }
    }

    .checkbox-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      label {
        text-align: left;
        flex-grow: 1;
        margin-left: 10px;
        width: 100%;
      }

      input[type="checkbox"] {
        margin: 3px;
        cursor: pointer;
        width: auto;
      }
    }
  }
}

@media (max-width: 1000px) {
  #root {
    .email {
      width: 70vw;
    }
  }
}

@media (max-width: 700px) {
  #root {
    .buttonContainer {
      flex-direction: column;
    }

    .inputs {
      .input-group {
        input {
          width: 100%;
        }
      }

      .checkbox-group {
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-left: 0;
        }

        input[type="checkbox"] {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #root {
    padding: 0.5rem;

    #infotext {
      padding-left: 1rem;
      width: 90%;
    }

    .inputs {
      .input-group {
        input {
          width: 100%;
        }
        label {
          #candidateWarning {
            display: inline;
          }
        }
      }
    }

    .email {
      width: 90vw;
      padding: .75rem .5rem;
      //margin: 0 auto;
    }
  }
}
