#root {

  $color-dark-teal: #003643;
  $color-teal: #43cfb5;
  $color-purple: #6f35a3;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  #infotext {
    font-weight: 400;
    text-align: left;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    margin: 10px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .tooltip {
    position: relative;
    display: inline-block;

    .sendEmail {
      display: inline-block;
      background-color: $color-teal;
      width: fit-content;
      height: 56px;
      box-sizing: border-box;
      border-radius: 50px;
      padding: 18px 45px;
      transition: transform 0.5s ease-in-out;
      font-family: "Cera Pro", sans-serif;
      font-weight: bold;
      text-decoration: none;
      font-size: 1em;
      color: var(--color-dark-teal);
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      &:visited {
        color: var(--color-dark-teal);
      }
    }

    .tooltiptext {
      visibility: hidden;
      width: 220px;
      background-color: rgba($color-dark-teal, 0.75);
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
      position: fixed;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 0.75em;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .info {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: $color-purple;

    &.visible {
      opacity: 1;
    }
  }

  .email {
    text-align: left;
    border: 3px solid rgba($color-purple, 0.75);
    padding: 20px;
    border-radius: 5px;
    width: 60vw;
    align-self: center;
    user-select: all;
  }

  .fakeButton {
    background-color: $color-teal;
    width: fit-content;
    height: 56px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 18px 45px;
    transition: transform 0.5s ease-in-out;
    font-family: "Cera Pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    color: $color-dark-teal;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:visited {
      color: var(--color-dark-teal);
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .input-group {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 10px;
      width: 100%;

      label {
        align-self: flex-start;
        text-align: left;
        font-family: 'Nunito Sans', sans-serif;
        color: var(--color-purple);

        #candidateWarning {
          display: block;
        }
      }

      input {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1.5px solid rgba(0, 54, 67, 0.5);
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
          border-color: $color-teal;
          box-shadow: 0 0 0 0.2rem rgba(0, 149, 143, 0.25);
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 149, 143, 0.25);
          border-radius: 0;
          outline: 0;
        }
      }
    }

    .checkbox-group {
      display: flex;
      flex-direction: row-reverse;
      align-items: start;
      width: 100%;
      margin-bottom: 10px;
      justify-content: start;

      input {
        margin-right: 10px;
        cursor: pointer;
      }

      label {
        //flex-grow: 1;
        text-align: left;
        font-family: 'Nunito Sans', sans-serif;
        color: var(--color-purple);
        cursor: pointer;
        .labelText {
          margin-right: 0.25em;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #root {
    .email {
      width: 70vw;
    }
  }
}

@media (max-width: 700px) {
  #root {
    .buttonContainer {
      flex-direction: column;
    }

    .inputs {
      .input-group {
        input {
          width: 100%;
        }
      }

      .checkbox-group {
        //flex-direction: column-reverse;
        align-items: flex-start;

        input {
          margin-right: 1em;
          margin-bottom: 5px;
        }

        label {
          margin-left: 0;

        }
      }
    }
  }
}

@media (max-width: 650px) {
  #root {
    padding: 0.5rem;

    #infotext {
      padding-left: 1rem;
      width: 90%;
    }

    .inputs {
      .input-group {
        input {
          width: 100%;
        }

        label {
          #candidateWarning {
            display: inline;
          }
        }
      }
    }

    .email {
      width: 90vw;
      padding: .75rem .5rem;
    }
  }
}