@import './assets/fonts/stylesheet.css';

:root {
  --color-dark-teal: #003643;
  --color-teal: #43cfb5;
  --color-purple: #6f35a3;
}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: var(--color-dark-teal);
  overflow: scroll;
  text-rendering: optimizeLegibility;
}

h1 {
  text-align: center;
  font-size: 1.9rem;
  padding-bottom: 0.75rem;
}

@media only screen and (max-width: 870px) {
  h1 {
    font-size: 1.55rem;
  }
}